# ライブラリやビルド結果
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Rr]elease/
PublishProfiles/
 
# ソリューションやプロジェクトファイル
ExportedObj/
*.csproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
 
# ログファイル
Logs/
*.log
 
# VisualStudio
.vs/
